<%- include('common/header.ejs') %>
<div class="container empty-background">
    <nav class="nav">
        <p class="title">테스트 여행</p>
        <div class="sub-title">코스 리스트</div>
    </nav>

    <div class="content-container">
        <ul id="course-wrap" class="course-nav-ul">

        </ul>
        <div id="location-map">
           

        </div>
    </div>


</div>
<!-- <script type="text/javascript" src=""></script> -->
<script type="text/javascript" src='//dapi.kakao.com/v2/maps/sdk.js?appkey=52a54df13a8777bf544b5a432cd2f656'></script>
<script src="../js/course.js"></script>
<%- include('common/footer.ejs') %>
